/* header{
  background-color: #6166c2;
  width: 100vw;
  height: 20vh;
} */

/* header img{
  max-width: 100%;
  height: auto;
} */

/* section 1 */

#sec1{
  color: #fff;
  font-family: "RockoFLF";
  height: 40vh;

  display: flex;
  align-items: center;
  text-align: center;
}

.left-pane1{
  float: left;
  width: 40vw;
}

.left-pane1 img{
  height: 10vh;
}

.left-pane1 img, p{
  margin: 1vh;
}

.left-pane1 p{
  font-size: 1.5vh;
}

.right-pane1{
  float: left;
  width: 40vw;

}

.right-pane1 li{
  width: 100%;
  display: inline-block;
  margin: 1vh;
}

.right-pane1 li a{
  color: #fff;
  font-size: 2vh;
}

/* section 2 */

#sec2{
  color: #fff;
  font-family: "RockoFLF";
  height: 25vh;
  display: flex;
}

.left-pane2 p{
  text-align: center;
  font-size: 3vh;
}

.left-pane2{
  background-color: #444;
  float: left;
  width: 40vw;
}

.right-pane2{
  background-color: #555;
  float: left;
  width: 40vw;
}

.right-pane2 p{
  text-align: center;
  font-size: 3vh;
}

.right-pane2 table{
  margin: 0 auto;
  border: 5px solid;
  width: 80%;
}

.right-pane2 table tr{
  text-align: center;
}

.right-pane2 table tr td{
  padding: 8px;
  font-size: 2vh;
}

/* section 3 */

#sec3{
  color: #fff;
  font-family: "RockoFLF";
  height: 30vh;

  /* background-color: #555; */
  width: 100%;
}

h2{
  width: 100%;
  text-align: center;
  padding: 1vw 1vh;
}

.redbubble {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  nav{
    display: none;
  }
  nav ul{
    float: left;
  }
  main{
    width: 100vw;
  }
    #sec1 {
      display: inline-block;
      height: auto;
    }
      .left-pane1{
        width: 100%;
      }
      .right-pane1{
        width: 100%;
      }
    #sec2 {
      display: none;
      width: 100vw;
      height: auto;
    }
        .left-pane2{
        width: 100vw;
      }
      .right-pane2{
        width: 100vw;
      }
    #sec3 {
      height: auto;
      display: none;
      width: 100vw;
    }
}
