/* font */

@font-face {
  font-family: 'RockoFLF Regular';
  font-style: normal;
  font-weight: normal;
  src: local('RockoFLF Regular'), url('RockoFLF.woff') format('woff');
}

@font-face {
  font-family: 'RockoFLF Bold';
  font-style: normal;
  font-weight: normal;
  src: local('RockoFLF Bold'), url('RockoFLF-Bold.woff') format('woff');
}

@font-face {
  font-family: 'RockoUltraFLF Regular';
  font-style: normal;
  font-weight: normal;
  src: local('RockoUltraFLF Regular'), url('RockoUltraFLF.woff') format('woff');
}

@font-face {
  font-family: 'RockoUltraFLF Bold';
  font-style: normal;
  font-weight: normal;
  src: local('RockoUltraFLF Bold'), url('RockoUltraFLF-Bold.woff') format('woff');
}

/* defaults */

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
}

main{
  width: 80vw;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: .5vw;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #b0b4ff;
  border-radius: 1vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b4ff;
}

@media screen and (max-width: 1000px) {
       main{
     width: 100vw;
   }
 }
