/* section 2 */

#sec2{
  color: #fff;
  font-family: "RockoFLF";
  height: 25vh;
  display: flex;
}

.left-pane2 p{
  text-align: center;
  font-size: 3vh;
}

.left-pane2{
  background-color: #444;
  float: left;
  width: 40vw;
}

.right-pane2{
  background-color: #555;
  float: left;
  width: 40vw;
}

.right-pane2 p{
  text-align: center;
  font-size: 3vh;
}

.right-pane2 table{
  margin: 0 auto;
  border: 5px solid;
  width: 80%;
}

.right-pane2 table tr{
  text-align: center;
}

.right-pane2 table tr td{
  padding: 8px;
  font-size: 2vh;
}

@media screen and (max-width: 1000px) {
  nav ul{
    float: left;
  }
  main{
    width: 100vw;
  }
    #sec2 {
      display: inline-block;
      height: auto;
    }
      .left-pane2{
        width: 100%;
      }
      .right-pane2{
        width: 100%;
      }
    }
